<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <title>Access</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a href="/" class="navbar-brand">Home</a>
                <!-- 横幅が狭い時に出るハンバーガーボタン -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <!-- メニュー項目 -->
              <div class="collapse navbar-collapse" id="nav-bar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/company" class="nav-link">Company</a></li>
                    <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="/address" class="nav-link">Access</a></li>
                    <li class="nav-item"><a href="/payment" class="nav-link">Payment</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="/all_list" class="nav-link">All_list</a></li>
                    <li class="nav-item"><a href="/menu" class="nav-link">Menu</a></li>
                </ul>
              </div>
            </nav>
        </header>
        <div class="container">
            <h1 class="mt-4 pb-4 border-bottom">Access</h1>
            <div>
                <h3>〒115-0045 東京都北区赤羽２丁目２０−１ 6F</h3>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3236.815182794471!2d139.7217793!3d35.779916!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601893028ecfc68d%3A0xf002b2615bbbbd40!2z44CSMTE1LTAwNDUg5p2x5Lqs6YO95YyX5Yy66LWk576977yS5LiB55uu77yS77yQ4oiS77yR!5e0!3m2!1sja!2sjp!4v1566290030210!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <footer class="text-center pt-3 pb-3 border-top">
            &copy; 2019 SAMPLE Inc.
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS, then Font Awesome -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    </body>
</html>