<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <title>問い合わせフォーム</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a href="/" class="navbar-brand">Home</a>
                
                <!-- 横幅が狭い時に出るハンバーガーボタン -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <!-- メニュー項目 -->
              <div class="collapse navbar-collapse" id="nav-bar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/company" class="nav-link">会社概要</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">ニュース</a></li>
                    <li class="nav-item"><a href="/address" class="nav-link">アクセス</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link">入力フォーム</a></li>
                    <li class="nav-item"><a href="/inquiry" class="nav-link">お問い合わせフォーム</a></li>
                </ul>
              </div>
            </nav>
        </header>
        <div class="container">
            <h1 class="mt-4 pb-4 border-bottom">お問い合わせ</h1>
            <div class="mt-4 row">
                <div class="col-sm-2">
                    <strong>お問い合わせフォーム：</strong>
                </div>
                <div class="col-sm-10">
                    <p>
                        何かご質問などございましたら、下記入力フォームからお問い合わせください。
                    </p>
                    <form action="/inquiry" method="POST">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">氏名：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" placeholder="日本　太郎" required value="<%=@inquiry.name%>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">フリガナ：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="ruby" placeholder="ニホン　タロウ" required value="<%=@inquiry.ruby%>">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">連絡が可能なメールアドレスを入力してください。</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" name="email" autocomplete="on" placeholder="sample@chouchou.ne.jp" onblur="chkemail(this)"/><div class="error"></div></                                <div id="email_error_msg"></div>
                                <script>
                                function chkemail(obj) {
                                    var msg = "";
                                    var str = obj.value;
                                    var error_msg_node = document.getElementById("email_error_msg");
                                    //全角英数字を半角英数字に変換
                                    str = zentohan(str);
                                    //.や@が含まれているかをチェック
                                    if( !str.match( /.+@.+\..+/ ) ) {
                                        msg = "入力されたメールアドレスに間違いはありませんか？";
                                    }
                                    if( str.match( /,/ ) ) {
                                        msg = "カンマ(,)が含められていますがドット(.)ではありませんか？";
                                    }
                                    if(msg !== ""){
                                        error_msg_node.innerHTML = msg;
                                    }else{
                                        error_msg_node.innerHTML = "";
                                    }
                                }
                                function zentohan(str){
                                	str = str.replace(/[\uff21-\uff3a\uff41-\uff5a\uff10-\uff19]/g, function(s){
                                		return String.fromCharCode(s.charCodeAt(0) - 0xFEE0);
                                	});
                                	//spaces remove
                                	str = str.replace(/\u0020|\u3000/g,'');
                                	return str;
                                };
                                </script>
                            </div>
                        </div>

                        <input name="confirm_email1" type="text" placeholder="@以前を入力" /><div class="error"></div></td><td>@</td><td><input name="confirm_email2" class="typeahead" type="text" placeholder="@以降を入力" /><div class="error"></div></td></tr>
                        <div class="error" id="match_error"></div>
                        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                        <script src="typeahead.js"></script>
                        <script src="examples.js"></script>
                        </body>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">お問い合わせ内容：</label>
                            <div class="col-sm-10 col-form-label">
                                <textarea class="form-control" name="contact" placeholder="お問い合わせ内容を入力してください。" value="<%=@inquiry.contact%>"></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <input type="reset"></input>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-success btn-block">内容を送信する</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="text-center pt-3 pb-3 border-top">
            &copy; 2019 SAMPLE Inc.
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS, then Font Awesome -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    </body>
</html>